* {
	margin: 0;
	padding: 0;
}

.content {
	position: absolute;
	/*top: -200%;*/
}

.page {
	/*相对定位*/
	position: relative;
}

img {
	position: absolute;
}

.page1 {
	background: #259ebd;
}

.page1-Building {
	width: 100%;
	height: 20%;
	bottom: 0;
	display: none;
}

.page1-Elements {
	width: 100%;
	height: 100%;
	left: 0;
	animation: zooming 1s linear infinite;
}

.page1-Cloud {
	width: 90%;
	height: 90%;
	left: 0;
	animation: zooming 1s linear infinite;
}

@keyframes zooming {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.page1-Flight {
	left: 0;
	right: 0;
	margin: auto;
	top: 58%;
	width: 0px;
	animation: flight 4s linear infinite;
}

@keyframes flight {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.page1-Flowers01 {
	top: 14%;
	width: 20%;
	z-index: 1;
	left: 7%;
	animation: rotate 1s linear infinite;
}

.page1-Flowers02 {
	left: 62%;
	width: 23%;
	top: 27%;
	z-index: 1;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(0deg);
	}
	/*75%{transform: rotate(0deg);}*/
	90% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.page1-Stars {
	width: 100%;
	height: 100%;
}

.page1-Txt {
	width: 60%;
	left: 0;
	right: 0;
	margin: auto;
	top: 15%;
}

.page2 {
	background: aquamarine;
}

.page2-Bg {
	width: 100%;
	height: 100%;
}

.page2-Farm {
	width: 70%;
	right: 0;
	top: 20%;
	display: none;
}

.page2-It {
	width: 70%;
	right: 0;
	top: 60%;
	display: none;
}

.page2-Star {
	width: 100%;
	height: 100%;
}



.page3 {
	background: blue;
}
.page3-Bg{
	width: 100%;
	height: 100%;
	bottom: 0;
}
.page3-BusStation{
	width: 100%;
	height: 50%;
	bottom: 0;
}
.page3-Bus{
	z-index: 1;
	width: 58%;
	left: 0;
	bottom: 142px;
}
.page3-BusAvatar{
	z-index: 1;
	width: 25%;
	right: 0%;
	bottom: 12%;
}
.page3-Title{
	width: 40%;
	display: none;
}
.page3-BusTitle{
	z-index: 1;
	width: 40%;
	top: 12%;
	display: none;
}

/*場景二*/
.page3-TeamAvatar{
	height: 15%;
	bottom: 66%;
	right: 19%;
	display: none;
}
.page3-TeamSpace{
	height: 40%;
	left: 10%;
	bottom: 50%;
	display: none;
}
.page3-TeamWall{
	height: 70%;
	bottom: 0;
	right: 0%;
	display: none;
}
.page3-WhereTxt{
	height: 10%;
	bottom: 7%;
	left: 4%;
	display: none;
	
}


.page4 {
	background: pink;
}


.page4-OffBg{
	height: 100%;
	width: 100%;
}
.page4-On{
	height: 80%;
	bottom: 0;
	left: 0;
}
.page4-Title{
	z-index: 1;
	right: 0;
	top: 9%;
}
.page4-Guide{
	/*z-index: 1;*/
	height: 3%;
	bottom: 63%;
	left: 23%;
}
.page4-OnBg{
	height: 100%;
	width: 100%;
}
.page4-Off{
	height: 80%;
	bottom: 0;
	left: 0;
}
.page4-Txt{
	
}
